<div class="rates">
    <div class="rates__mobile-table-header">
        <div class="rates__mobile-table-header-we-buy">Buy At</div>
        <div class="rates__mobile-table-header-we-sell">Sell At</div>
    </div>
    <div class="rates-item-holder" data-rate-item="EUR_PLN">
        <div class="rates-item" data-seo-link="/kurs-euro/">
            <div class="rates-item__header">
                <div class="rates-item__header-icon">
                    <div class="icon-currency-round-EUR icon-currency-round-EUR-dims"></div>
                </div>
                <a href="/kurs-euro/" class="rates-item__header-text">
                    Euro Rate
                </a>
            </div>
            <div class="rates-item__figures">
                <div class="rates-item__short-name">
                    <a href="/kurs-euro/" class="rates-item__short-name-text">
                        EUR
                    </a>
                </div>
                <div class="rates-item__we-buy">
                    <div class="rates-item__rate-number-text" data-js-selector="buy-rate">@(ViewData["EUR_buy"])</div>
                    <div class="rates-item__rate-number-subtext">Buy At</div>
                </div>
                <div class="rates-item__we-sell">
                    <div class="rates-item__rate-number-text" data-js-selector="sell-rate">@(ViewData["EUR_sell"])</div>
                    <div class="rates-item__rate-number-subtext">Sell At</div>
                </div>
            </div>
        </div>
    </div>
    <div class="rates-item-holder" data-rate-item="USD_PLN">
        <div class="rates-item" data-seo-link="/kurs-dolara/">
            <div class="rates-item__header">
                <div class="rates-item__header-icon">
                    <div class="icon-currency-round-USD icon-currency-round-USD-dims"></div>
                </div>
                <a href="/kurs-dolara/" class="rates-item__header-text">
                    US Dollar Rate
                </a>
            </div>
            <div class="rates-item__figures">
                <div class="rates-item__short-name">
                    <a href="/kurs-dolara/" class="rates-item__short-name-text">
                        USD
                    </a>
                </div>
                <div class="rates-item__we-buy">
                    <div class="rates-item__rate-number-text" data-js-selector="buy-rate">@(ViewData["USD_buy"])</div>
                    <div class="rates-item__rate-number-subtext">Buy At</div>
                </div>
                <div class="rates-item__we-sell">
                    <div class="rates-item__rate-number-text" data-js-selector="sell-rate">@(ViewData["USD_sell"])</div>
                    <div class="rates-item__rate-number-subtext">Sell At</div>
                </div>
            </div>
        </div>
    </div>                  <div class="rates-item-holder" data-rate-item="CHF_PLN">
        <div class="rates-item" data-seo-link="/kurs-franka/">
            <div class="rates-item__header">
                <div class="rates-item__header-icon">
                    <div class="icon-currency-round-CHF icon-currency-round-CHF-dims"></div>
                </div>
                <a href="/kurs-franka/" class="rates-item__header-text">
                    Swiss Frank Rate
                </a>
            </div>
            <div class="rates-item__figures">
                <div class="rates-item__short-name">
                    <a href="/kurs-franka/" class="rates-item__short-name-text">
                        CHF
                    </a>
                </div>
                <div class="rates-item__we-buy">
                    <div class="rates-item__rate-number-text" data-js-selector="buy-rate">@(ViewData["CHF_buy"])</div>
                    <div class="rates-item__rate-number-subtext">Buy At</div>
                </div>
                <div class="rates-item__we-sell">
                    <div class="rates-item__rate-number-text" data-js-selector="sell-rate">@(ViewData["CHF_sell"])</div>
                    <div class="rates-item__rate-number-subtext">Sell At</div>
                </div>
            </div>
        </div>
    </div>
    <div class="rates-item-holder" data-rate-item="GBP_PLN">
        <div class="rates-item" data-seo-link="/kurs-funta/">
            <div class="rates-item__header">
                <div class="rates-item__header-icon">
                    <div class="icon-currency-round-GBP icon-currency-round-GBP-dims"></div>
                </div>
                <a href="/kurs-funta/" class="rates-item__header-text">
                    British Pound Rate
                </a>
            </div>
            <div class="rates-item__figures">
                <div class="rates-item__short-name">
                    <a href="/kurs-funta/" class="rates-item__short-name-text">
                        GBP
                    </a>
                </div>
                <div class="rates-item__we-buy">
                    <div class="rates-item__rate-number-text" data-js-selector="buy-rate">@(ViewData["GBP_buy"])</div>
                    <div class="rates-item__rate-number-subtext">Buy At</div>
                </div>
                <div class="rates-item__we-sell">
                    <div class="rates-item__rate-number-text" data-js-selector="sell-rate">@(ViewData["GBP_sell"])</div>
                    <div class="rates-item__rate-number-subtext">Sell At</div>
                </div>
            </div>
        </div>
    </div>
</div>